{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>{{titulo}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi molestiae labore nulla maiores minus nihil aperiam, dolorem consequuntur deserunt eos iste dolor tempore fugit fugiat, sit et facere magnam incidunt.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/foto.jpg" class="img-thumbnail">
        <p>{{texto}}</p>
    </div>
</div>      



{{> footer }}

     